# general ignores
*.sublime-*
*.code-workspace
.fuse_hidden*

# backend ignores
backend/cfg/
backend/data/
backend/logs/
venv/
*.cpython*

# frontend ignores
frontend/files/js/config.js

# nowhere close to done, ignore for now
frontend-react/*
frontend-vanilla-vitetest
