@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

#header {
  top: 0;
  text-align: center;
  margin-bottom: 30px;
}

#header h1 {
  padding: 0;
  margin: 0;
  font-size: 2vw;
}

#header p {
  padding: 0;
  margin: 0;
  font-size: 1.15em;
}

#header a {
  text-decoration: unset;
  color: white;
  font: inherit;
}
#header #backbtn {
  background: unset;
  border: 1px white solid;
  color: white;
  font-size: 1.8em;
  margin-left: -24vw;
  /* margin-top: -100%; */
  padding: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#footer {
  margin: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
}

#footer p {
  margin: 0;
  margin-bottom: 7px;
  font-size: 1em;
}

#frontend-version {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  font-size: 1em;
}