.main {
  /* display: none; */
  position: relative;
  font-family: var(--font-source-code-pro);
  margin: auto;
  margin-bottom: 18px;
  border: 1px solid white;
  width: 29.92vw;
  padding: 10px;
  min-height: fit-content;
  font-size: 0.8vw;
  text-align: left;
}

.main p {
  width: fit-content;
  margin: auto;
  padding: 5px 5px;
  margin-top: 7px;
  text-align: center;
  background-color: #424242;
  font-weight: bold;
}

.main form {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main textarea {
  font-size: inherit;
  font-family: inherit;
  background-color: black;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  min-width: 92%;
  max-width: 92%;
  height: 4.4ch;
  overflow: hidden;
  margin: unset;
  padding: 2px;
}

.main textarea:focus {
  outline: unset;
}

.main input[type="submit"] {
  margin: 0;
  padding: 0;
  margin-bottom: 1px;
  margin-top: auto;
  width: 8%;
  min-height: 59px;
  cursor: pointer;
  font-size: 2em;
  background-color: black;
  border: 1px solid white;
  border-left-style: unset;
  border-radius: 0;
  color: white;
}

/* --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
/* responsive shit */

/* 1920px width screen */
@media only screen and (max-width: 1920px) {
  .main {
    width: 36vw;
    font-size: 1.1vw;
  }
}

/* less than 1280px width screen */
@media only screen and (max-width: 1280px) {
  .main {
    width: 60vw;
    font-size: 1.8vw;
  }
  .post_timestamp {
    font-size: 3.4vw;
  }
}
.main div[class="loading_overlay"] {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100.4%;
  height: 103%;
  margin: -11px;
  z-index: 10;
  background-color: #00000097;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main div[class="loading_overlay"] span[class="loader"] {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #fff;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 750ms linear infinite;
}

/* less than 1000px width screen -- most phones*/
@media only screen and (max-width: 1000px) {
  .main {
    width: 85vw;
    font-size: 4vw;
  }
}
